body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*Added background color to make planner stand out more*/
  background-color: darkolivegreen;
}

/* Added header image and styling */
header {
  background-image: url(https://images.pexels.com/photos/289323/pexels-photo-289323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-size: cover;
  translate: -50%, -50% ;
  color: rgb(253, 240, 240);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid black;
}

.hour {
  background-color: beige;
  color: darkgreen;
  border-top: 5px ridge black;
}

.past {
  background-color: lightgray;
  color: white;
}

.present {
  background-color: orange;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: gray;
  color: darkgreen;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
